<nav *ngIf="auth.isAuthenticated()" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tareas Diarias</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['new-tarea']">Crear Tareas </a>
      <a class="nav-item nav-link" [routerLink]="['bitacora-tareas']">Bitacora de tareas</a>
      <a class="nav-item nav-link" [routerLink]="['momentjs']">Moments</a>
      <a class="nav-item nav-link" [routerLink]="['mantenedor']">Mantenedor</a>
    </div>
  </div>
  <button *ngIf="auth.isAuthenticated()"
  type="button"
  class="btn btn-outline-secondary btn-top-right btn-sm"
  (click)="onLogout()">Cerrar Sesion
</button>
</nav>
