
<div class="container formNewTarea shadow p-3 mb-5 bg-white rounded">
  <form #newTarea="ngForm" (ngSubmit)="guardar(newTarea)">
    <input type="hidden" name="key$" #key$="ngModel" [(ngModel)]="conexionbdService.selectedTarea.key$">
    <div class="">
      <div class="form-group col">

        <h5>Nueva Tarea</h5>
        
        <br>
      </div>
    </div>

      <!-- Tarea -->
    <div class="">
      <div class="form-group col">
        <label for="descripcion">Nombre la tarea</label>
        <input
        type="text"
        class="form-control"
        name="descripcion"
        #descripcion="ngModel"
        [(ngModel)]=conexionbdService.selectedTarea.name
        placeholder="Tarea"
        >
      </div>

      <!-- Clasificacion -->

      <div class="form-group col">
        <label for="clasificacion">Clasificacion</label>
        <select class="clasificacion" name="SeleccionClasificacion" [value]="clasificacion"
        [(ngModel)]="SeleccionClasificacion" class="form-control">
          <option value="">Seleccione...</option>
          <option *ngFor="let clasificacion of ComboClasificacion" >
          {{clasificacion}}
          </option>
        </select>
      </div>
        <!-- Importancia -->
      <div class="form-group col">
        <label for="importancia">Importancia</label>
        <select class="importancia" name="SeleccionImportancia" [value]="import"
        [(ngModel)]="SeleccionImportancia" class="form-control">
          <option value="">Seleccione...</option>
          <option *ngFor="let import of ComboImportancia">
          {{import}}
          </option>
        </select>
        </div>
        <!-- Periodo -->
      <div class="form-group col">
        <label for="periodo">Periodo</label>
        <select class="periodo" name="SeleccionPeriodo" [value]="perio"
        [(ngModel)]="SeleccionPeriodo" class="form-control">
          <option value="">Seleccione...</option>
          <option *ngFor="let perio of ComboPeriodo" >
          {{perio}}
          </option>
        </select>
        </div>
    </div>
<!-- Notas -->
    <div class="">
      <div class="form-group col">
        <label for="descripcion">Notas</label>
        <input
        type="text"
        class="form-control"
        name="notas"
        #notas="ngModel"
        [(ngModel)]=conexionbdService.selectedTarea.notas
        placeholder="Notas"
        >
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-3">Crear</button>
      <button type="reset" class="btn btn-secondary" (click)="resetForm(newTarea)" >Reset</button>
    </div>
  </form>
</div>
