/* You can add global styles to this file, and also import other style files */
.login{
	width: 300px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.formNewTarea{
	/* width:auto; */
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 15px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.formMantenedor{
	width: 400px;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h3{
	padding: 15px;
	position: absolute;

}
.btn-{
	margin-right: 5%;
}
.btn-3{
	margin-right: 3%;
}
.btn-right{
	margin-left: 100%;
}
